<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/about.css">
    <title>Unfiltered | About us</title>
  </head>
  <body>
   <main class="about">
<div style="font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 60px; text-transform: uppercase; letter-spacing: -2px; display: inline-block;">
    <span style="color: #000000;">UN</span><span style="background: linear-gradient(to right, #16A39E, #D4E157); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;">FILTERED</span>
</div>
    <section class="about_intro">
    <h1 class="aboutTitle">About US</h1>
      <h2>Meet the Team</h2>
      <p><strong>Unfiltered</strong> We am to allow a place for unfiltered emotions to be written. We aim to provide a safe space
      where those emotions can be held and tracked.</p>
    </section>
    <section class="team">
      {{#each team}}
      <div class="teamMember">
        <img src="{{image}}" alt="{{name}}">
        <h3>{{name}}</h3>
        <p> {{role}} </p>
      </div>
      {{/each}}
    </section>
      <section class="contact">
        <h2> Contact Us</h2>

          <form class="contactForm">
              <input type="text" placeholder="Full Name">
              <input type="email" placeholder="Email Addrerss">
              <textarea placeholder="Message"></textarea>
              <button type="submit">Submit</button>
          </form>
      </section>
   </main>
  </body>
</html>