<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/homepage/homepage.css" />
    <link rel="stylesheet" href="css/partials/nav.css">
    <title>Unfiltered | Homepage</title>
  </head>

  <body>
    <main>
      <!-- HEADER SECTION -->
      <section class="header-section">

          <!-- TITLE SECTION -->
        <div class="title-section">
          <h1>Hi, <span class="user-name">Elhadji</span></h1>
          <h1>How are you doing today?</h1>
        </div>

        <!-- PROFILE SECTION -->
        <div class="profile-section">
          <img src="img/profile-pic.png" alt="Profile Picture" />
          <span>Profile</span>
        </div>    
      </section>
      
      <!-- CONTENT SECTION -->
      <section class="content-section">
        <!-- WEEK DAYS -->
        <section class="week-days">
          <div class="days-container">
            <!-- Sunday -->
            <div class="day"><p>S</p><span class="day-number">10</span></div>
            <!-- Monday -->
            <div class="day"><p>M</p><span class="day-number">0</span></div>
            <!-- Tuesday -->
            <div class="day"><p>T</p><span class="day-number">0</span></div>
            <!-- Wednesday -->
            <div class="day"><p>W</p><span class="day-number">0</span></div>
            <!-- Thursday -->
            <div class="day"><p>T</p><span class="day-number">0</span></div>
            <!-- Friday -->
            <div class="day"><p>F</p><span class="day-number">0</span></div>
            <!-- Saturday -->
            <div class="day"><p>S</p><span class="day-number">0</span></div>
          </div>
        </section>

        <!-- GRAPH SECTION -->
        <div class="graph-section">GRAPH SECTION</div>

        <!-- MOOD SECTION -->
        <div class="mood-section">
          <p class="mood-title">Daily mood</p>

          <div class="mood-options">

            <button class="mood-btn happy active">
              <img src="img/emoji/happy.png" alt="Happy enmoji">
              <p>Happy</p>
            </button>

            <button class="mood-btn sad">
              <img src="img/emoji/sad.png" alt="Sad enmoji">
              <p>Sad</p>
            </button>

            <button class="mood-btn angry">
              <img src="img/emoji/angry.png" alt="Angry enmoji">
              <p>Angry</p>
            </button>

            <button class="mood-btn anxious">
              <img src="img/emoji/anxious.png" alt="Anxious enmoji">
              <p>Anxious</p>
            </button>

            <button class="mood-btn excited">
              <img src="img/emoji/excited.png" alt="Excited enmoji">
              <p>Excited</p>
            </button>

            <button class="mood-btn tired">
              <img src="img/emoji/tired.png" alt="Tired enmoji">
              <p>Tired</p>
            </button>

            <button class="mood-btn calm">
              <img src="img/emoji/calm.png" alt="Calm enmoji">
              <p>Calm</p>
            </button>

            <button class="mood-btn stressed">
              <img src="img/emoji/stressed.png" alt="Stressed enmoji">
              <p>Stressed</p>
            </button>
          </div>
        </div>

        <!-- JOURNAL CONTENT -->
        <div class="journal-section">
          <label for="journal">Your journal</label>
          <textarea
            id="journal"
            placeholder="Write your daily thoughts here..."
          ></textarea>
          <button id="saveJournalBtn">Save</button>
        </div>

        <!-- EXTRA SECTION -->
        <div class="journal-history" id="journalHistory">
          <label for="">Journal History</label>
        </div>
      </section>
      <div class="reserved-rights">
        <p>© 2026 Unfiltered. All Rights Reserved.</p>
      </div>
    </main>
     {{> nav }} 
  </body>
  <script src="js/journal.js"></script>
  <script src="js/homepage.js"></script>
</html>