<!-- Navigation Bar Partial -->
<nav>
  <div class="nav-icons">
    <div>
      <a href="/homepage">
        <img src="img/home-icon.png" alt="Homepage" class="nav-icon" />
      </a>
    </div>
    <div>
      <a href="/resources">
        <img
          src="img/resources-icon.png"
          alt="Resource Page"
          class="nav-icon"
        />
      </a>
    </div>
    <div>
      <a href="/about">
        <img src="img/team-icon.png" alt="Team" class="nav-icon" />
      </a>
    </div>

    <div class="sign-out-icon">
      <form action="/auth/signout" method="POST">
        <button type="submit" class="signout-btn">
          <img src="img/sign-out-icon.png" alt="Sign Out" class="nav-icon" />
        </button>
      </form>
    </div>

  </div>
</nav>