/* CSS for Navigation Bar Partial */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e3f564;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
nav .nav-icons {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 30px;
  margin: 10px 40px 10px 40px;
}
nav .nav-icons img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
}
nav .nav-icons img:hover {
  opacity: 0.7;
}

@media (min-width: 1024px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #e3f564;
    border-top-right-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  nav .nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    gap: 20px;
  }
  nav .nav-icons img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  nav .nav-icons img:hover {
    opacity: 0.7;
  }
  nav .sign-out-icon {
    margin-top: auto;
  }
}
